.blog-list-container{
    display: grid;
    width: 100%;
    padding: 0px 40px;
    /* grid-template-columns: repeat(auto-fit, 100%); */
    /* background-color: green; */
    justify-content: center;
}
.blog-list{
    display: flex;
    max-width: 90vw;
    max-width: var(--max-width);
    flex-direction: column;
    gap: 20px;
    padding-bottom: 12px;
    border-bottom: 2px solid var(--border-passive);
    transition-duration: 0.3s;
    /* background-color: blue; */
}
.blog-list:hover{
    border-bottom: 2px solid var(--primary-theme-color);
    /* border-bottom: 2px solid #2d2d2d; */
}

@media screen and (max-width: 768px){
    .blog-list-container{
        padding: 0;
    }
    .blog-list{
        width: 95vw;
    }
}

@media screen and (max-width: 400px){
    .blog-list{
        width: 88vw;
    }
}