@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* (576, 768, 992,1200,1440,1600) */

:root{
    /* --primary-font: "Roboto", sans-serif; */
    --primary-font: "Open Sans", sans-serif;
    /* --primary-font: "Montserrat", sans-serif; */
    --primary-font-color: #21243D;
    --primary-theme-color: #FF6464;
    --primary-font-weight: 700;

    --primary-theme-active: #ff4f4f;
    --highlight-color: #EDF7FA;
    --highlight-color-dark: #b9ecfc;
    --border-passive: grey;

    --h1-size: 2em;
    --h2-size: 1.5em;
    --h3-size: 1.17em;
    --max-width: 1400px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    overflow-x: hidden;
}

h1{font-size: 2em;}
h2{font-size: 1.5em;}
h3{font-size: 1.17em;}
h4{font-size: 1em;}
h5{font-size: 0.83em;}
h6{font-size: 0.67em;}

a{
    text-decoration: none;
    color: var(--primary-font-color);
}

button{
    padding: 10px 20px;
    background-color: #FF6464;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.25em;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}
button:active{
    background-color: var(--primary-theme-active);
}

.h1size{
    font-size: var(--h1-size);
    font-weight: var(--primary-font-weight);
}
.h2size{
    font-size: var(--h2-size);
    font-weight: var(--primary-font-weight);
}
.h3size{
    font-size: var(--h3-size);
    font-weight: var(--primary-font-weight);
}

/* Section  */
.section-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}
.section{
    width: 80vw;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 40px;
    /* background-color: blue; */
}
.section-nav{
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
.section-tile-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, 400px);
}
.section-highlight{
    background-color: var(--highlight-color);
}

@media screen and (max-width: 768px){
    .section-tile-container{
        grid-template-columns: repeat(auto-fit, 370px);
    }
    .section{
        width: 95vw;
        margin: 20px 40px;
    }
    .section-nav{
        width: 95vw;
        padding: 0px;
    }
}