#home{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    width: 80vw;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.pfp{
    height: 350px;
    border-radius: 50%;
}

.home-description{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.home-description h1{
    font-size: 2.4em;
}
.home-description p{
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.6em;
}

/* Recent Post  */
.section-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-highlight{
    background-color: var(--highlight-color);
}
.section{
    width: 80vw;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.section-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section-tile-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, 400px);
}
.recent-post-home-tile{
    height: 280px;
    width: 400px;
    background-color: #fff;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.certificate-tile{
    height: 602px;
    background-color: var(--highlight-color);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.certificate-image{
    width: 100%;
}