#home{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.home-container{
    width: 80vw;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
    transform: translateY(-70px);
}

.pfp{
    height: 350px;
    border-radius: 50%;
}

.home-description{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.home-description h1{
    font-size: 2.4em;
}
.home-description p{
    font-size: 1em;
    line-height: 1.6em;
}

/* Recent Post  */

.recent-post-home-tile{
    height: 280px;
    width: 400px;
    background-color: #fff;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.certificate-tile{
    height: 602px;
    background-color: var(--highlight-color);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.certificate-image{
    width: 100%;
}

@media screen and (max-width: 992px){
    .home-container{
        flex-direction: column;
        text-align: center;
    }
    .home-description{
        align-items: center;
    }
    .section{
        width: 100vw;
    }
    .pfp{
        height: 250px;
    }
    
    .home-description h1{
        font-size: var(--h1-size);
    }
    .home-description p{
        font-size: 1em;
    }
}

@media screen and (max-width: 768px){
    .home-container{
        gap: 12px;
        min-width: 95vw;
    }
    .home-description{
        gap: 12px;
    }
    .home-description p{
        line-height: 1.4em;
    }

    .recent-post-home-tile{
        width: 370px;
    }
    .certificate-tile{
        width: 370px;
    }
}

@media screen and (max-width: 400px){
    .pfp{
        height: 150px;
        margin-top: 40px;
    }
    .home-description p{
        line-height: 1.2em;
    }
}