.home-header{
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* .home-desk-nav{} */

.home-desk-nav ul{
    width: 90vw;
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    list-style-type: none;
    background-color: #fff;
}

/* .home-desk-nav a{} */

.home-desk-nav li, .home-mob-nav li{
    padding: 20px 20px;
    font-size: var(--h2-size);
    font-weight: 500;
}
.active{
    color: var(--primary-theme-color);
    font-weight: 700 !important;
}

/* mobile navigation class */
.home-mob-nav{
    display: none;
    width: 100%;
    z-index: 999;
}
.options{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0px;
    margin: 20px 20px;
}
.home-mob-nav ul{
    width: 100vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    display: none;
    background-color: #ffffffaf;
    backdrop-filter: blur(10px);
}
.mobile-nav-exit{
    position: absolute;
    display: none;
    height: 100vh;
    width: 100vw;
}
@media screen and (max-width: 768px){
    .home-desk-nav{
        display: none;
    }

    .home-mob-nav{
        display: flex;
    }
}